{% import '_includes/forms' as forms %}
{% includeJsResource 'digitaldownload/js/settings.js' %}

{% set actionTrigger = craft.config.get('actionTrigger') %}
{% set longPath = 'index.php/' ~ actionTrigger ~ '/digitalDownload/download?u=' %}

{% includejs %}
var longPath = '{{ longPath }}';
{% endincludejs %}

<h2>{{ "Short Download Links"|t }}</h2>

{% set path = (settings.shortPath ? settings.shortPath ~ '/' : longPath) %}

{{ forms.textField({
	instructions: "Set a short path for download URLs. If you leave this blank, the long path will be used by default."|t,
	id: 'shortPath',
	name: 'shortPath',
	value: settings.shortPath,
	errors: settings.getErrors('shortPath')
}) }}

<p><a href="#" onclick="alert('Example download initiated...')">{{ siteUrl }}<span id="demo-path">{{ path }}</span>(token)</a></p>

<hr/>

<h2>Complete Download Log</h2>

{{ forms.checkbox({
	label: "<strong>Keep a detailed record of all downloads</strong>"|t,
	id: 'keepDownloadLog',
	name: 'keepDownloadLog',
	checked: settings.keepDownloadLog,
	errors: settings.getErrors('keepDownloadLog')
}) }}
<p>Generally unnecessary... The detailed log is not used to handle basic tracking.</p>
<ul>
	<li><strong>PRO:</strong> You have a detailed log of every download, which can then be accessed by another plugin via the <code>DigitalDownload_DownloadLogRecord</code> class.</li>
	<li><strong>CON:</strong> Any time Craft needs to create a backup database, it could take a very long time (depending on how big the log table gets).</li>
</ul>