{% import '_includes/forms' as forms %}

<h2>Complete Download Log</h2>

{{ forms.checkbox({
	label: "<strong>Keep a detailed record of all downloads</strong>"|t,
	id: 'keepDownloadLog',
	name: 'keepDownloadLog',
	checked: settings.keepDownloadLog,
	errors: settings.getErrors('keepDownloadLog')
}) }}
<p>Generally unnecessary... The detailed log is not used to handle basic tracking.</p>
<ul>
	<li><strong>PRO:</strong> You have a detailed log of every download, which can then be accessed by another plugin via the <code>DigitalDownload_DownloadLogRecord</code> class.</li>
	<li><strong>CON:</strong> Any time Craft needs to create a backup database, it could take a very long time (depending on how big the log table gets).</li>
</ul>